#register-form {
  width: 50%;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: firebrick;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

/* Position any warnings offscreen */
.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}
