#example-text {
  font-weight: 50;
  font-size: 2rem;
}

#receipt-page-container {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20vh 70vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

#filters-area {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-left: 5px;
  padding-right: 5px;
}

#receipts-area {
  /* Grid location*/
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 2px;

  /* Border to highlight location */
  border-color: black;
  border-width: 5px;
}

#receipt-editor-area {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  padding: 10px;
}

/* Responsive grid system for smaller screens */
@media (max-width: 991px) {
  /* Change to a single column */
  #receipt-page-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  #filters-area {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }

  #receipts-area {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
  }

  #receipt-editor-area {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
  }
}

.scroll-container-x {
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.receipt-card {
  /* Overide bootstrap card with display: block */
  display: inline-block !important;
  position: relative;
  /* Enable relative positioning for child */
  width: 200px;
  height: 80%;
  min-height: 100px;
  margin: 10px;
  scroll-snap-align: start;
  transition: 0.3s;
}

.receipt-card:hover {
  background-size: cover;
  transform: scale(1.1);
}

.receipt-card > .card-body {
  background-color: white;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.receipt-card.receipt-active::after {
  content: "";
  background-image: conic-gradient(from var(--angle), var(--bs-primary), white);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  box-sizing: content-box;
  padding: 3px;
  border-radius: 0.375rem;
  animation: 3s spin linear infinite;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

#receipt-editor-table {
  height: 500px;
}

.close-receipt-btn {
  background-color: transparent;
  border: none;
  font-size: 20px; /* Adjust size of X */
  color: #000; /* Color of the X */
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  position: absolute;
  float: right;
  right: 0;
}

.close-receipt-btn:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Hover effect */
  color: red;
}
